    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:image" content="http://sina.is/images/sina_small.png" />
    <meta property="og:site_name" content="Sina.is" />
    <meta property="fb:admins" content="36801504" />
    <meta property="og:description"
          content="{% if page.excerpt %}{{ page.excerpt }}{% else %}{{ site.description }}{% endif %}"/>

    <script>
        (function(d, t) {
            var g = d.createElement(t),
                s = d.getElementsByTagName(t)[0];
            g.src = '//hnbutton.appspot.com/static/hn.min.js';
            s.parentNode.insertBefore(g, s);
        }(document, 'script'));
    </script>

    <!--
    <script id="myscript" type="text/javascript">

    (function() {
     var myscript = document.createElement('script');
     myscript.type = 'text/javascript';
     myscript.src = ('http://static.bufferapp.com/js/button.js');
     var s = document.getElementById('myscript');
     s.parentNode.insertBefore(myscript, s);
    })();

    </script>


    <script type="text/javascript">
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
     </script>
  -->

    <!-- Commented this out so you can keep follow count manual!
     <script>
     $(function() {
        $.ajax({
            url: 'http://api.twitter.com/1/users/show.json',
            data: {
                screen_name: 'sinak'
            },
            dataType: 'jsonp',
            success: function(data) {
                $('#followers').html(data.followers_count);
            }
        });
    });
    </script>-->