<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <html xmlns:fb="http://ogp.me/ns/fb#">
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>
  <meta name="viewport" content="initial-scale=1.0">
  <meta name="author" content="{{ site.name }}" />
  <meta name="description" content="{{ site.description }}" />

  <link rel="alternate" type="application/rss+xml" href="/atom.xml" />

  <link rel="stylesheet" href="/css/base.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/css/pygments.css" type="text/css" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

  <script type="text/javascript" src="//use.typekit.net/nmy1ayp.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script type="text/javascript" src="/js/application.js"></script>

{% include social.html %}
</head>

<body>

    <div class="wrapper">
      <header>        

        <div id = "title">
          <a href ="/"><img src="/images/sina_small.png" alt="Sina Khanifar" /></a>

          <h1>Sina Khanifar</h1>
          <p>Ramblings about technology.</p>
        </div>

        <div id = "follow">

          <!-- Twitter follow button -->
          
          <div style="float:left; padding-right:10px;">
            <div class="twitter_box"><span id="followers">762</span></div>
            <a href="https://twitter.com/sinak" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false"></a>
          </div>

          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

          <!-- Facebook follow iFrame -->
          <iframe src="//www.facebook.com/plugins/follow.php?href=https%3A%2F%2Fwww.facebook.com%2Fjejune&amp;layout=box_count&amp;show_faces=false&amp;colorscheme=light&amp;width=55" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:66px; height: 65px; float:left;"  allowTransparency="true"></iframe>
      
      </div>

      </header>


  {{ content }}
</div>

{% include analytics.html %}
{% include social.html %}


</body>
</html>