---
layout: layout
---
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=173936762642931";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="share_sidebar">
    <span id="share-widget">
    <a href="http://twitter.com/share" class="twitter-share-button" data-text="&quot;{{ page.title }}&quot; by @sinak" data-count="vertical" data-related="sinak">Tweet</a>
    <fb:like send="false" layout="box_count" width="60" show_faces="false"></fb:like>
    </iframe>
    <script type="text/javascript" src="http://www.reddit.com/static/button/button2.js"></script>
    <div style="display:inline" id="hackernews">
     <a href="http://news.ycombinator.com/submit" class="hn-share-button" data-title="{{ post.title }}">Vote on HN</a>
    </div>
  </span>
</div>

<section class="content">
  <h1>{{ page.title }} </h1>

  <section class="byline">
    {{ page.date | date: "%B %e, %Y" }}
  </section>

  <section class="postcontent">
  {{ content }}
  </section>

  <!-- TODO: bio here -->
  <section class="meta">
    <h3>About me</h3>
    <section class="copy">
      <p>I'm an entrepreneur, programmer, and tinkerer, and co-founder of <a href="http://opensignal.com">OpenSignal</a>. </p>
      <p>I also organize the <a href="http://meetup.com/San-Francisco-Quantified-Self/">San Francisco Quantified Self</a> Meetup group.</p>

      <p><a href="mailto:sina.khanifar@gmail.com" target="_blank">Email</a></p>
      <p>
      <a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="sinak">Tweet</a>
      <a href="http://twitter.com/sinak" class="twitter-follow-button" data-show-count="false">Follow @sinak</a>
      <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
      </p>

    </section>
  </section>
</section>