---
layout: layout
---
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=173936762642931";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>



<div id="share_sidebar">
    <span id="share-widget">
        <a href="http://twitter.com/share" class="twitter-share-button" data-text="{% if page.tweet %}{{ page.tweet }} {% else %}{{ page.title }} {% endif %}" {% if page.hashtag %} data-hashtags="{{ page.hashtag }}" {% endif %} data-count="vertical" data-related="sinak">Tweet</a>
    <fb:like send="false" layout="box_count" width="60" show_faces="false"></fb:like>
    <!--<script type="text/javascript" src="http://www.reddit.com/static/button/button2.js"></script>
    <div style="display:inline" id="hackernews">
     <a href="http://news.ycombinator.com/submit" class="hn-share-button" data-title="{{ post.title }}">Vote on HN</a>
    </div>-->
  </span>
</div>

<section class="content">
  <h1>{{ page.title }} </h1>

  <section class="byline">
    {{ page.date | date: "%B %e, %Y" }}
  </section>

  <section class="postcontent">
  {{ content }}
  </section>

  <!-- TODO: bio here -->
  <section class="meta">
    <h4>About me</h4>
    <section class="copy">
      <p>I'm a developer, entrepreneur and recently a tech policy activist. </p> <p>I started <a href="http://taskforce.is" target="_blank">Taskforce.is</a> and co-founded<a href="http://opensignal.com" target="_blank">OpenSignal</a>.</p>
      <!--<p>I also organize the <a href="http://meetup.com/San-Francisco-Quantified-Self/">San Francisco Quantified Self</a> Meetup group.</p>-->

      <p>
      <a href="https://twitter.com/intent/tweet?screen_name=sinak" class="twitter-mention-button" data-related="sinak">Tweet to @sinak</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </p>

    </section>
  </section>
</section>